Source: regolith-desktop
Section: x11
Priority: optional
Maintainer: Ken Gilmer <kgilmer@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/regolith-linux/regolith-desktop
Vcs-Git: https://github.com/regolith-linux/regolith-desktop.git

Package: regolith-desktop
Architecture: any
Conflicts: unclutter-startup
Depends:
    ${misc:Depends},
    gnome-control-center,
    gnome-flashback,
    gnome-settings-daemon,
    i3-gaps-wm,
    i3-snapshot,
    i3xrocks,
    mutter-common,
    nautilus,
    regolith-compositor-compton-glx | regolith-compositor,
    regolith-default-settings,
    regolith-ftue,
    regolith-gnome-flashback,
    regolith-i3-gaps-config,
    regolith-i3xrocks-config,
    regolith-look-lascaille | regolith-look,
    regolith-rofi-config,
    regolith-rofication | notification-daemon,
    regolith-styles,
    regolith-unclutter-xfixes,
    rofi,
    xrescat
Suggests:
    update-manager,
    software-properties-gtk
Multi-Arch: foreign
Description: metapackage for Regolith desktop environment
 This package contains all the packages necessary for the 
 desktop environment to function.
